.box {
    border-radius: 10px;
    background-color:#fff;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
    margin: 15px auto;
}
.tag {
    display:inline-block;
    width:20%;
}
.info {
    display:inline-block;
    width:80%;
}